body{font-size: 3vh;
  overflow-wrap: break-word;
  font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
  background-color: #ffffd1;
  margin: 30px;
background-image:
}

h1,h2,h3{display: inline-block;}

strong,a,th{color:#ff7f7f;}

.table{border-collapse: collapse;
width: 100%;
min-width: 2000px;
border: solid 3px #ffd1a3;
text-align: center;}

.table-wrap {
  overflow-x: scroll;
}

th,td {
  border: dashed 2px #ffd1a3;
}

.hanni{border-collapse: collapse;
width: 100%;
min-width: 100px;
max-width: 700px;
border: solid 3px #ffd1a3;
text-align: center;}

header {text-align: center;
border-bottom:#ffd1a3 solid 10px;
text-decoration: none;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

/* === BOXの定義 ================================================= */
.sample1 {
  position      : relative;                   /* relative指定は必須 */

  margin        : auto;               /* 色や文字情報は変更ください */
  max-width     : 800px;
  padding       : 0 10px;
  background    : #ffffd2;
  border        : 4px solid #ffd1a3;
  border-radius : 8px;
  text-align    : left;
  line-height   : 1.3;
  font-size     : 16pt;
}

 /* === 文書を書くBOX ============================================= */
.sample1 > div {
  overflow      : hidden;                       /* hidden指定は必須 */
}

 /* === チェックボックス ========================================== */
.sample1 > input {
  display       : none;                                   /* 非表示 */
}

 /* === チェックボックスのlabel（＝ボタンに見せる） =============== */
.sample1 > label {
  position      : absolute;
  display       : inline-block;
  bottom        : 3px;
  right         : 3px;
  padding       : 5px 8px;
  background    : #fff;
  color         : #ff7f7f;
  border        : 2px solid #ffd1a3;
  border-radius : 6px;
  font-size     : 9pt;
  font-weight   : bold;
}

 /* === ボタンにカーソルが乗った時 ================================ */
.sample1 > label:hover {
  background    : #f3e8b1;
}

 /* === 文書のエリアの高さ（「続きを開く」が表示されているとき）=== */
.sample1 > input[type="checkbox"]:not(:checked) ~ div {
  height        : 120px;
}

 /* === 文書のエリアの高さ（「続きを開く」が表示されているとき）=== */
.sample1 > input[type="checkbox"]:checked ~ div {
  padding-bottom: 30px;
}

 /* --- ボタンに表示する文字（閉じているとき） -------------------- */
.sample1 > input[type="checkbox"]:not(:checked) + label::after {
  content       : "続きを開く";
}

 /* --- ボタンに表示する文字（開いているとき） -------------------- */
.sample1 > input[type="checkbox"]:checked + label::after {
  content       : "閉じる";
}
